<footer class="usa-footer">
    <div class="usa-footer__secondary-section">
      <div class="grid-container">
        <div class="grid-row grid-gap">
          <div class="usa-footer__logo grid-row mobile-lg:grid-col-6 mobile-lg:grid-gap-2">
            <div class="mobile-lg:grid-col-auto">
              <img src="{{ '/img/metro_logo_white.svg' | url }}" role="img"
						alt="Metro logo" class="usa-footer__logo-img" />
            </div>
          </div>
          <div class="usa-footer__contact-links mobile-lg:grid-col-6">
            <div class="usa-footer__social-links grid-row grid-gap-1">
              <div class="grid-col-auto">
                <a class="usa-social-link" href="javascript:void(0);"
                  ><img
                    class="usa-social-link__icon"
                    src="https://lacmta.github.io/metro-iconography/SocialContact_icon_twitter_b-on-w.svg"
                    alt="Twitter"
                /></a>
              </div>
              <div class="grid-col-auto">
                <a class="usa-social-link" href="javascript:void(0);"
                  ><img
                    class="usa-social-link__icon"
                    src="https://lacmta.github.io/metro-iconography/SocialContact_icon_facebook_b-on-w.svg"
                    alt="Facebook"
                /></a>
              </div>
              <div class="grid-col-auto">
                <a class="usa-social-link" href="javascript:void(0);"
                  ><img
                    class="usa-social-link__icon"
                    src="https://lacmta.github.io/metro-iconography/SocialContact_icon_instagram_b-on-w.svg"
                    alt="Instagram"
                /></a>
              </div>
              <div class="grid-col-auto">
                <a class="usa-social-link" href="javascript:void(0);"
                  ><img
                    class="usa-social-link__icon"
                    src="https://lacmta.github.io/metro-iconography/SocialContact_icon_linkedin_b-on-w.svg"
                    alt="LinkedIn"
                /></a>
              </div>
            </div>
            <div>
              Press Kit
              FAQs
              Contact Us
            </div>
            <div>
              Designed by Metro - This website was designed and developed by a multicultural team working to make Metro's digital experience more equitable, accessible and easy to use.
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>