/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

.usa-header, .usa-nav {
   background-color: #000;
   color: #fff;
}

.usa-nav__primary button {
   color: #fff;
}

.usa-nav__primary button:hover {
   color: #ddd;
}

.usa-nav.is-visible {
   background-color: #fff;
}

.usa-nav.is-visible .usa-nav__primary button {
   color: #000;
}

.usa-input#search-field {
   border: 0px;
   border-radius: 5px;
   box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, rgba(61, 59, 53, 0.16) 0px 0px 0px 1px, rgba(61, 59, 53, 0.08) 0px 2px 5px 0px;
   background-color: rgba(255, 255, 255, 0.5);
   color: rgb(55, 53, 47);
   caret-color: rgb(55, 53, 47);
}

.usa-button#search-button {
   box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, rgba(61, 59, 53, 0.16) 0px 0px 0px 1px, rgba(61, 59, 53, 0.08) 0px 2px 5px 0px;
}