.header {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    display: flex;
    padding: 0 0 0.25rem 0.5rem;
    width: 100%;
}

.nav-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
}

.logo {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.46rem;
    line-height: 1.1;
}

.navbar {
    position: relative;
    width: 33%;
    border-bottom: none;
    display: inline-block;
    height: auto;
}

.translate-button {
    color: #fff;
    background: #000;
    line-height: .9;
    padding: 1rem;
    font-weight: 700;
    font-size: .93rem;
}

/* from metro.net */

.button.button--header-desktop .button__content {
    color: #fff;
    font-weight: 600;
    padding: 0 20px;
  }
  .button.button--header-desktop-tab {
    position: relative;
  }
  .button.button--header-desktop-tab .button__content {
    color: #fff;
    font-weight: 600;
    padding: 0 20px;
  }
  .button.button--header-desktop-outlined .button__content {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #fff;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.6px;
    line-height: 26px;
    min-width: 140px;
    padding: 4px;
    text-align: center;
    text-transform: uppercase;
    transition: background-color 0.3s;
  }
  .button.button--header-desktop-outlined .button__content:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .button.button--header-close {
    background-color: #fff;
    display: none;
    width: 74px;
  }
  .button.button--header-close .button__icon {
    height: 13.5px;
    width: 13.5px;
  }
  .button.button--header-open {
    width: 74px;
  }
  .button.button--header-open .button__icon {
    height: 16px;
    width: 18px;
  }
  .button.button--header-search-close {
    background-color: #fff;
    display: none;
    width: 50px;
  }
  .button.button--header-search-close .button__icon {
    height: 13.5px;
    width: 13.5px;
  }
  .button.button--header-search-open {
    width: 50px;
  }
  .button.button--header-search-open .button__icon {
    height: 16px;
    width: 18px;
  }
  .button.button--header-search {
    width: 40px;
  }
  .button.button--header-search i {
    color: #5e6871;
    font-size: 20px;
  }
  .button.button--header-translate {
    width: 50px;
  }
  .button.button--header-mobile {
    padding: 25px;
  }
  .button.button--header-mobile .button__content {
    color: #262626;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.2px;
    line-height: 20px;
    text-indent: 25px;
  }
  .button.button--header-projects-find .button__content {
    align-items: center;
    background-color: #105eda;
    border-radius: 4px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    height: 100%;
    justify-content: center;
    text-transform: uppercase;
  }
  .container-col.container-col--header-bar {
    flex-direction: row;
  }
  .goog-te-menu-frame {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) !important;
    min-width: 225px;
  }
  .goog-te-menu-value {
    font-size: 0 !important;
  }
  .header.header--is-open-menu .header-bar--mobile {
    padding-top: 50px;
  }
  .header.header--is-open-menu .header-bar--mobile .button.button--header-close {
    display: flex;
  }
  .header.header--is-open-menu .header-bar--mobile .button.button--header-open {
    display: none;
  }
  .header.header--is-open-menu .header-bar--mobile .header-bar__bar {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .header.header--is-open-menu .header-bar--mobile .header-bar__menu-content {
    transform: translateX(100vw);
  }
  .header.header--is-open-search .header-bar.header-bar--mobile {
    padding-top: 50px;
  }
  .header.header--is-open-search .button.button--header-search-close {
    display: flex;
  }
  .header.header--is-open-search .button.button--header-search-open {
    display: none;
  }
  .header.header--is-open-search .header-bar.header-bar--mobile .header-bar__bar {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .header.header--is-open-search .header-search__content {
    transform: translateX(-100vw);
  }
  .header-bar {
    position: relative;
    z-index: 2;
  }
  .header-bar.header-bar--desktop {
    display: none;
  }
  .header-bar.header-bar--desktop .button:focus,
  .header-bar.header-bar--desktop .button:hover {
    background-color: #fff;
  }
  .header-bar.header-bar--desktop .button:focus img,
  .header-bar.header-bar--desktop .button:hover img {
    filter: brightness(0) saturate(100%) invert(21%) sepia(0%) saturate(52%)
      hue-rotate(248deg) brightness(87%) contrast(112%);
  }
  .header-bar.header-bar--desktop
    .button:focus
    .header-bar__translate-presentation,
  .header-bar.header-bar--desktop
    .button:hover
    .header-bar__translate-presentation {
    color: #262626;
  }
  .header-bar.header-bar--desktop
    .button:focus
    .header-bar__translate-presentation
    img,
  .header-bar.header-bar--desktop
    .button:hover
    .header-bar__translate-presentation
    img {
    filter: brightness(0) saturate(100%) invert(21%) sepia(0%) saturate(52%)
      hue-rotate(248deg) brightness(87%) contrast(112%);
  }
  .header-bar.header-bar--desktop .button.button--header-desktop-tab {
    font-size: 16px;
  }
  .header-bar.header-bar--desktop .button.button--header-desktop-tab:focus,
  .header-bar.header-bar--desktop .button.button--header-desktop-tab:hover {
    background-color: transparent;
  }
  .header-bar.header-bar--desktop
    .button.button--header-desktop-tab:focus
    .button__content,
  .header-bar.header-bar--desktop
    .button.button--header-desktop-tab:hover
    .button__content {
    font-size: 16px;
  }
  .header-bar.header-bar--desktop .button.button--header-desktop-outlined:hover {
    background-color: transparent;
  }
  .header-bar.header-bar--desktop .button.button--header-search i {
    color: #fff;
  }
  .header-bar.header-bar--desktop .header-bar__bar {
    background-color: #262626;
    height: 72px;
    width: 100%;
  }
  .header-bar.header-bar--desktop .header-bar__bar-right {
    flex: none;
  }
  .header-bar.header-bar--desktop .header-bar__logo {
    height: 45px;
    margin-right: 100px;
    width: 100px;
  }
  .header-bar.header-bar--desktop .list-links__title {
    color: #5e6871;
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    text-transform: uppercase;
  }
  .header-bar.header-bar--mobile {
    position: relative;
  }
  .header-bar.header-bar--mobile .header-bar__bar {
    background-color: #262626;
    height: 50px;
  }
  .header-bar__bar {
    display: flex;
    position: relative;
  }
  .header-bar__bar-center {
    align-items: center;
    bottom: 0;
    display: flex;
    flex: 1;
    justify-content: center;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
  }
  .header-bar__bar-left {
    align-items: center;
    display: flex;
    flex: 1;
  }
  .header-bar__bar-left > * {
    height: 100%;
  }
  .header-bar__bar-right {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }
  .header-bar__bar-tab:hover .header-bar__bar-tab-content {
    display: flex;
  }
  .header-bar__bar-tab:hover .button:after {
    background: #fff;
    bottom: 0;
    content: " ";
    display: block;
    height: 7px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 100%;
  }
  .header-bar__bar-tab-content {
    background: #fff;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
    display: none;
    flex-direction: column;
    left: 0;
    overflow: hidden;
    padding: 40px 20px 30px;
    position: absolute;
    top: 100%;
    width: 100%;
  }
  .header-bar__translate {
    position: relative;
  }
  .header.header--is-open-menu .header__shroud,
  .header.header--is-open-search .header__shroud,
  .header.header--is-open-translate .header__shroud {
    background-color: rgba(0, 0, 0, 0.25);
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  .header.header--is-open-translate .header-bar__translate {
    background: #000;
    display: block;
  }
  .header.header--is-open-translate
    .header-bar__translate
    .header-bar__translate-presentation {
    color: #262626;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.05px;
    line-height: 22px;
  }
  .header.header--is-open-translate
    .header-bar__translate
    .header-bar__translate-presentation
    img {
    filter: brightness(0) saturate(100%) invert(21%) sepia(0%) saturate(52%)
      hue-rotate(248deg) brightness(87%) contrast(112%);
  }
  .header-bar__translate-clickable {
    cursor: pointer;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  .header-bar__translate-clickable .goog-te-gadget,
  .header-bar__translate-clickable .goog-te-gadget-simple,
  .header-bar__translate-clickable #google_translate_element {
    display: block !important;
    height: 100%;
    width: 100%;
  }
  .header-bar__translate-presentation {
    align-items: center;
    color: #fff;
    display: flex;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    height: 100%;
    letter-spacing: 0.05px;
    line-height: 22px;
    padding: 10px;
  }
  .header-bar__translate-presentation img {
    margin-right: 6px;
    width: 16px;
  }
  .header-bar__translate.header-bar__translate--desktop {
    margin: 0 20px;
  }
  .header-bar__fares-columns {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  .header-bar__fares-column {
    border-left: 1px solid #c4c4c4;
    padding-left: 10px;
  }
  .header-bar__fare-description {
    color: #5e6871;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
  }
  .header-bar__fare-price {
    color: #394a64;
    font-family: "Open Sans", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
  }
  .header-bar__fare-title {
    color: #5a6872;
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    text-transform: uppercase;
  }
  .header-bar__logo {
    align-items: center;
    display: flex;
    height: 31px;
    justify-content: center;
  }
  .header-bar__logo-img {
    height: 100%;
    max-height: 100%;
    width: auto;
  }
  .header-bar__menu {
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.5s;
  }
  .header-bar__menu-content {
    background: #fff;
    bottom: 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    left: -100%;
    margin-right: 65px;
    max-width: 310px;
    position: fixed;
    top: 50px;
    transform: translateX(-100%);
    transition: transform 0.5s;
    width: 100%;
  }
  .header-bar__projects-find .list-links__title {
    margin-bottom: 17px;
  }
  .header-bar__projects-find-filter {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 80px auto 35px;
    margin-bottom: 20px;
  }
  .header-bar__projects-find-filter-title {
    color: #5e6871;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    display: flex;
    align-items: center;
  }
  .header-bar__projects-find-filter-select {
    background: #fff;
    border: 1px solid #dfe3e6;
    border-radius: 2px;
    box-sizing: border-box;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.35px;
    line-height: 28px;
    padding: 3px;
  }
  .header-search__content {
    background: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    height: auto;
    padding: 20px 20px 30px;
    position: fixed;
    right: -100vw;
    top: 50px;
    transform: translateX(100%);
    transition: transform 0.5s;
    width: 100%;
    z-index: 1;
  }
  .header-search__title {
    color: #5e6871;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .header-search form {
    position: relative;
  }
  .header-search form > label {
    margin: 0;
    width: 100%;
  }
  .header-search [type="search"] {
    background-color: #ededed;
    border: 0;
    border-radius: 0;
    padding-left: 50px;
  }
  .header-search [type="submit"] {
    background-image: url(../../../../../../../../plugins/elementor-metro-lifeboat/assets/img/icon-search-black.svg);
    background-position: center center;
    background-repeat: no-repeat;
    border: 0;
    bottom: 0;
    font-size: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 50px;
  }
  .header-bar__tab-1-bottom {
    border-top: 1px solid #c7daed;
    display: flex;
    margin-top: 35px;
    padding-top: 35px;
    width: 100%;
  }
  .header-bar__tab-1-bottom-left-links {
    flex: 1;
  }
  .header-bar__tab-1-bottom-right-links {
    flex: 1;
  }
  .header-bar__tab-1-top-links {
    width: 100%;
  }
  .header-bar__tab-1-top-links
    .list-links.list-links--rider-tools
    .list-links__item-link-title {
    color: #152935;
  }
  .header-bar__tab-1-top-links .list-links__items {
    margin-top: 30px;
  }
  .header-bar__tab-1-top-links .list-links__item {
    margin: 0;
  }
  .header-bar__tab-2-bottom-links {
    border-top: 1px solid #c7daed;
    margin-top: 45px;
    padding-top: 35px;
  }
  .header-bar__tab-3-columns {
    display: grid;
    grid-gap: 70px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 60px;
  }
  .header-bar__tab-4-columns {
    display: grid;
    grid-gap: 70px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 60px;
  }
  .list-links.list-links--header .list-links__item-link,
  .list-links.list-links--header-2-col .list-links__item-link {
    color: #5e6871;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
  }
  .list-links.list-links--header .list-links__title,
  .list-links.list-links--header-2-col .list-links__title {
    color: #5e6871;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 15px;
  }
  .list-links.list-links--mobile .list-links__items {
    margin: 0;
  }
  .list-links.list-links--mobile:not(:first-child):before {
    background-color: #c7daed;
    content: " ";
    display: block;
    height: 1px;
    margin-left: 25px;
  }
  @media (max-width: 1279px) {
    .goog-te-menu-frame {
      width: 100% !important;
    }
  }
  @media (min-width: 1280px) {
    .button.button--header-translate {
      width: auto;
    }
    .button.button--header-search-close {
      background-color: #fff;
    }
    .button.button--header-search-close .button__icon {
      filter: brightness(0) saturate(100%) invert(21%) sepia(0%) saturate(52%)
        hue-rotate(248deg) brightness(87%) contrast(112%);
      height: 22px;
      width: 22px;
    }
    .button.button--header-search-open .button__icon {
      height: 22px;
      width: 22px;
    }
    .container-col.container-col--header-bar {
      padding: 0 53px;
    }
    .header.header--is-open-search .header-search {
      background-color: #fff;
      bottom: auto;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      display: block;
      height: auto;
      position: absolute;
      top: 72px;
      width: 100%;
      z-index: 1;
    }
    .header.header--is-open-search .header-search__content {
      background-color: transparent;
      box-shadow: none;
      margin: 0 auto;
      max-width: 620px;
      position: static;
      transform: none;
      transition: none;
    }
    .header-bar.header-bar--mobile {
      display: none;
    }
    .header-bar.header-bar--desktop {
      display: flex;
    }
    .header-bar__tab-1-top-links
      .list-links.list-links--rider-tools
      .list-links__title {
      margin-bottom: 30px;
    }
    .header-bar__tab-1-top-links
      .list-links.list-links--rider-tools
      .list-links__item-link {
      min-height: 98px;
      padding: 19px 10px;
    }
    .header-bar__tab-1-top-links
      .list-links.list-links--rider-tools
      .list-links__item-link {
      padding-right: 20px;
    }
    .header-bar__tab-1-top-links
      .list-links.list-links--rider-tools
      .list-links__item-link-title {
      font-size: 20px;
      font-weight: 700;
      line-height: 27px;
    }
    .header-search {
      display: none;
    }
    .list-links.list-links--header-2-col .list-links__items {
      column-count: 2;
      display: block;
    }
  }
  @supports (display: block) {
    .header__ie {
      display: none !important;
    }
  }
  